#weather{
    background-image: url(http://www.clker.com/cliparts/j/o/1/c/N/S/thought-cloud-2-md.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 250px;
    padding: 80px;
    opacity: .5;
}
#weather p{
    text-align: center;
    background-position: center;
    padding-right: 35px;
    opacity: 1;
    color: black;
}


.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.clock {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px none;
    color: wheat;
}

#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px #5bc0de;
}

ul {
    width: 800px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 10em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #fff;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #fff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #fff;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #fff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #fff;
    };
}

#quote p{
    text-align: center;
    color: #5bc0de;
    font-weight: 900;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    
    
    
}

#quote .background{
    opacity: .1
}

input {
    width: 30%;
    height: 50px;
    border: 1px dashed #5bc0de;
    font-size: 30px;
    color: #99ccff;
    margin: 10px;
    padding-left: 8px;
    align-content: center;
    align-self: center;

}
.todo_item {
    padding: 10px;
    cursor: pointer;
}
#go {
    display: none;
}

h4{
    text-align: center;
    color: #5bc0de;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    
}

input{
    text-align: center;
    color: #5bc0de;
}

.todo_item{
    text-align: center;
}

form{
   padding-left: 40%;
   opacity: 0.5;
}

button{
    color: white;
    background-color: #5bc0de;
    border-radius: 10px;
    
    
}





